@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");
* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  color: #eeeeee;
  background-color: #08091d;
}

body {
  font-size: 18px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2em;
  padding: 10px;
}

h3 {
  font-size: 1.5em;
  padding: 5px;
}

p {
  padding: 5px;
  font-size: 0.9em;
  font-weight: 300;
}

#checker {
  display: block;
  text-align: center;
  width: 60%;
  background-color: #000126;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 3px 2px 5px #000000;
  border-radius: 5px;
  position: relative;
  top: 10vh;
}
.input {
  width: 50%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  background-color: #00ffc8;
  color: #000126;
}
input[type="text"] {
  background-color: transparent;
  border: 1px solid #00ffc8;
  color: #00ffc8;
  font-weight: bold;
}

button,
input[type="text"] {
  padding: 10px;
  margin: 2px 0;
  outline: none;
  font-size: 1.1em;
  text-align: center;
  border-radius: 4px;
  font-weight: bold;
}

#btn:hover {
  background-color: #000126!important;
  color: #00ffc8;
  transition: ease-in-out 1s;
}

.house {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 10px auto;
}
#display {
  background-color: transparent;
  padding: 10px;
}

img {
  width: 50%;
  margin: auto;
  height: auto;
  display: none;
}

@media screen and (max-width: 783px) {
  #checker {
    width: 90%;
    position: relative;
    top: 10vh;
  }

  h1 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1em;
  }
  p {
    padding: 5px;
    font-size: 0.7em;
    font-weight: 300;
  }

  img {
    width: 100%;
  }

  input[type="text"] {
    background-color: transparent;
    border: 1px solid #00ffc8;
    color: #00ffc8;
    font-size: 0.75em;
    font-weight: bold;
  }

  #btn {
    font-size: 0.75em;
    font-weight: bold;
  }

  #btn:hover {
    background-color: #000126!important;
    color: #00ffc8;
    transition: ease-in-out 1s;
  }
}
